!!!
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    - if @description
      %meta{:name => 'description', :content => @description}
    - if @keywords
      %meta{:name => 'keywords', :content => @keywords}
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
    %meta{:content => '', :name => 'author'}/
    %link{:rel => "shortcut icon", :href => "images/rhok.ico", :type => "image/vnd.microsoft.icon"}
    %link{:href => '/bootstrap/bootstrap.css', :media => 'screen', :rel => 'stylesheet'}
    :css 
      body {
        padding-bottom: 40px;
      }
      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 960px;
        
      }
      .container-narrow > hr {
        margin: 25px 0;
      }
      .header {
        background-image: url('/images/rhok-logo.png');
        background-repeat:no-repeat;
        height: 95px;
      }

    / %link{:href => '/css/master.css', :media => 'screen', :rel => 'stylesheet'}
    %link{:href => '/bootstrap/bootstrap-responsive.css', :media => 'screen', :rel => 'stylesheet'}
    /[if lte IE 6]
      %link{:rel => 'stylesheet', :href => 'http://universal-ie6-css.googlecode.com/files/ie6.1.1.css', :media =>'screen, projection'}
    /[if lt IE 9]
      %script{:src => '//html5shim.googlecode.com/svn/trunk/html5.js'}
    %link{:href => '/articles.xml', :rel => 'alternate', :type => 'application/atom+xml'}
    %link{:href => "/bootstrap/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "/bootstrap/images/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "/bootstrap/images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/bootstrap/images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/

    %title= @title
  %body.container-narrow
    .header
    .masthead
      %ul{:class => "nav nav-pills pull-right"}
        %li
          %a.brand{:href => "/"} Home
        %li
          %a{:href => "/resources"} Resources
        %li
          %a{:href => "/problems"} Current projects
        %li
          %a{:href => "/volunteer"} Get involved
        %li
          %a{:href => "/contact-us"} Contact us
        %li
          %a{:href => "http://www.meetup.com/rhok-sydney/events/147472062/", :target => "_blank", :class => "btn btn-primary"} Meetup
        %li
          %a{:href => "https://www.eventbrite.com.au/e/rhok-global-dec-2013-sydney-australia-tickets-9022156513", :target => "_blank", :class => "btn btn-warning"} Eventbrite

      %h3.muted= Nesta::Config.title

    %hr
    %div{:class => "row-fluid"}
      = yield
    %hr
      %footer
        = haml :footer, :layout => false
    .analytics
      = haml :analytics, :layout => false
